@font-face {
    font-family: Arkitech;
    src: url("./fonts/Arkitech\ Medium.ttf") format('ttf'),
        url("./fonts/Arkitech\ Light.ttf") format('ttf'),
        url("./fonts/Arkitech\ Light.woff") format('woff');
}
.app {
    font-family: Arkitech;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.6);
    background-image: linear-gradient(240deg, rgba(0,0,0,1), rgba(255,255,255,0.1));
    width: 100%;
    height: 100vh;
}
nav {
    padding-right: 10px;
    box-shadow: 0 0 8px 0 rgb(194, 194, 194);
    height: 100vh;
    .menu-bg {
        position: absolute;
        right: 0;
        top: 0;
        background-color: rgba(0,0,0,0.6);
        width: 80px;
    }
    ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        height: 100vh;
        padding-inline-start: 0px;
        margin-block-start: auto;
        li {
            list-style-type: none;
            position: relative;
            z-index: 1;
            margin: calc(4px + 0.2vw) 0;
            &:first-of-type {
                z-index: 0;
                margin-bottom: 30px;
                width:100%;
                text-align: center;
                img{
                    margin-top: 20px;
                    margin-right: 30px;
                    width: calc(40px + 2vw);
                }
            }
            &:nth-of-type(7) {
                position: relative;
                margin-top: calc(0px + 20vh);
                bottom: 40px;
            }
            &:nth-of-type(8) {
                position: relative;
                bottom: 40px;
            }
            &:nth-of-type(7) a,
            &:nth-of-type(8) a {
                color: rgba(211, 211, 211, 0.7);
                font-size: 0.1em;
            }
            &:last-of-type {
                position: absolute;
                bottom: 0px;
                right: 34px;
                font-size: 10px;
                button {
                    background-color: rgba(0,0,0,0);
                    box-shadow: 0 0 1px 0 gray;
                    outline: none;
                    border: none;
                    color: white;
                    cursor: pointer;
                }
                span {
                    padding: 0 4px;
                }
                span:first-of-type {
                    background-color: lightgray;
                    color: black;
                    border-radius: 4px;
                }
                span:last-of-type {
                    background-color: black;
                    color: lightgray;
                    border-radius: 4px;
                }
            }
            &>div>span a {
                color: white;
                &:hover {
                    animation: icon 1 0.4s ease-out;
                    color: rgb(255, 0, 0);
                }
            }
            div {
                width: 84px;
                color: lightgray;
                text-decoration: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &>span:last-of-type {
                    display: absolute;
                    width: max-content;
                    margin-top: 6px;
                    margin-left: -38px;
                }
                span {
                    position: relative;
                    bottom: 2px;
                    font-size: 0.75em;
                    display: inline-block;
                }
            }
        }
    }
    .selected {
        animation: 1 icon 0.4s ease-out;
        color: rgb(255, 0, 0);
    }
    @keyframes icon {
        from {color: white};
        to {color: rgb(255, 0, 0)}
    }
}
.toggle-menu {
    box-shadow: -1px 0 2px 0 gray;
    padding-left: 4px;
    position: absolute;
    color: lightgray;
    font-size: 0.7em;
    width: 20px;
    height: 100vh;
    right: 6px;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    span {
        margin: 4px auto;
        width: max-content;
    }
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: lightgray;
    height: 70vh;
    width: 70vw;
    margin: 15vh auto;
    font-size: 0.8em;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 0 18px 2px black;
    border-radius: 4px;
    img {
        width: 100px;
        margin-bottom: 10px;
    }
    div:nth-of-type(2) {
        width: 50%;
        height: 5px;
        background-color: lightgray;
        box-shadow: 0 0 4px 1px black;
        border-radius: 5px;
        margin-bottom: 4px;
        span {
            display: block;
            height: 5px;
            background-color: red;
        }
    }
}
main {
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-track:hover {
        box-shadow: inset 0 0 6px rgb(255, 0, 0);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(105, 105, 105);
        outline: 1px solid slategrey;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: rgb(75, 75, 75);
        outline: 1px solid slategrey;
    }
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 18px 0 18px 2px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    img {
        width: 100px;
    }
    h1 {
        span {
            position: relative;
            display: inline-block;
        }
        position: relative;
        color: rgb(252, 252, 252);
        text-align:center;
        font-size: calc(8px + 2vw);
        font-weight: bolder;
        letter-spacing: 1px;
        line-height: calc(30px + 1.6vw);
        margin-block-end: 6px;
        text-shadow: 6px 2px 4px gray;
        cursor: default;
        i {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 1;
            top: 0;
            left: 0;
        }
    }
    div p {
        color: gray;
        font-size: calc(10px + 0.3vw);
        text-transform: uppercase;
        padding-top: 0px;
        margin-block-start: 0em;
        span {
            display: inline-block;
        }
    }
    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        @media screen and (max-width: 596px) {
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            &>a {
                margin-bottom: 60px;
            }
        }
    }
    button {
        font-family: Arkitech;
        font-weight: bold;
        text-transform: uppercase;
        outline: 0px;
        padding: 10px 20px 14px;
        color: white;
        background-color: rgba(0,0,0,0);
        box-shadow: 0 0 8px 1px gray;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
        &:active {
            color: red;
            background-color: white!important;
        }
        span {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 20px;
            font-weight: 100;
            display: inline-block;
            transform: scaleY(1.6);

        }
        span:nth-of-type(1),
        span:nth-of-type(2),
        span:nth-of-type(3) {
            margin-right: -5px;
        }
        span:nth-of-type(4),
        span:nth-of-type(5),
        span:nth-of-type(6) {
            margin-left: -5px;
        }
        span:nth-of-type(3) {
            margin-right: 10px;
        }
        span:nth-of-type(4) {
            margin-left: 10px;
        }
    }
    .skills,
    .projects,
    .about-me,
    .contact {
        position: relative;
        align-self: flex-start;
        left:0;
        top: 16px;
        background-color: black;
        box-shadow: 2px 2px 2px 0px gray;
        border-radius: 4px;
        z-index: 1;
        h1 {
            margin: 0 0 calc(4px + 1vw) 0;
            font-size: calc(16px + 1vw);
            text-transform: uppercase;
        }
    }
    h2 {
        margin-top: calc(70px - 1vw);
        color: rgba(255, 250, 250, 0.98);
        font-size: calc(14px + 0.4vw);
        text-transform: uppercase;
        font-weight: lighter;
    }
    h2:last-of-type {
        margin-top: 80px;
        align-self: flex-start;
        padding-left: 1%;
        font-size: calc(10px + 0.45vw);
    }
    hr {
        border: 0 solid silver;
        height: 0.1px;
        box-shadow: 0 0 1px 0.8px snow;
        width: calc(130px + 4vw);
        margin-top: calc(-10px - 0.4vw);
    }
    hr:last-of-type {
        margin-left: 0;
        margin-top: calc(-6px - 0.3vw);
        width: calc(114px + 5.6vw);
    }
    .skills-list {
        display: flex;
        justify-content: space-around;
        width: 90%;
        flex-wrap: wrap;
        max-width: 100%;
        &>div {
            width: 100px;
            height: 100px;
            img {
                width: 50%;
                height: auto;
            }
        }
        p {
            position: relative;
            margin-left: -50px;
            color: white;
            font-size: 12px;
            text-align: center;
            text-transform: uppercase;
            bottom: 20px;
            background: linear-gradient(90deg, transparent, red 50%, transparent);
        }
    }
    div.skills-list:nth-of-type(3) {
        justify-content: space-between;
        &>div {
            margin-top: 0;
        }
    }
    div.line:nth-of-type(5) {
        align-self: flex-end;
    }
    div.other-skills {
        flex-wrap: wrap;
        width: 95%;
        align-self: center;
        justify-content: space-evenly;
        margin-bottom: 100px;
        margin-left: 4%;
        &>div {
            margin: 0 2%;
            p {
                font-size: 10px;
                width: 100%;
                margin-left: -30px;
            }
        }
        img {
            width: 40%;
            height: auto;
        }
    }
    .projects-list {
        margin-top: 80px;
        padding-bottom: 50px;
        align-self: flex-start;
        display: flex;
        flex-direction: row;
        width: 100%;
        .mobile-skills {
            display: none;
        }
        @media screen and (max-width: 750px) {
            justify-content: center;
            .mobile-skills {
                display: block;
                position: absolute;
                top: 4px;
                color: rgb(202, 202, 202);
                font-size: 10px;
                text-align:center;
                line-height: 16px;
                text-transform: uppercase
            }
            &>div:last-of-type {
                display: none;
            }
            &>div:first-of-type>div {
                span {
                    button {
                        display: none;
                    }
                    a button {
                        align-self: flex-start;
                        margin-top: 80px;
                        display: block;
                    }
                }
            }
        }
        &>div:first-of-type>div {
            position: relative;
            span {
                width: calc(200px + 1vw);
                height: calc(126px + 1vw);
                position: absolute;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                margin: 20px 40px;
                background-color: black;
                opacity: 0.6;
                border-radius: 20px;
                z-index: 1;
                cursor: pointer;
                button {
                    box-shadow: 0 0 2px 1px;
                    padding: 10px 15px;
                    font-size: 10px;
                    margin: 0 10px;
                }
            }
            img {
                width: calc(200px + 1vw);
                margin: 20px 40px;
                border-radius: 20px;
                box-shadow: 0 0 16px 5px gray;
            }
            p {
                margin-top: -10px;
                text-align: center;
                font-size: 12px;
                color: lightgray;
            }
        }
        &>div:last-of-type {
            width: 100%;
            .default-info {
                box-shadow: 0 0 16px 0 rgba(107, 107, 107, 0.2);
                h3 {
                    font-size: calc(10px + 0.4vw)
                }
            }
            div {
                position: absolute;
                background-color: rgb(20, 20, 20);
                padding: 10px 0 20px 0;
                margin: 0 2%;
                border-radius: 10px;
                box-shadow: 0 0 16px 0 rgb(107, 107, 107);
                color: lightgray;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                text-transform: uppercase;
                width: calc(5% + 40vw);
                h3 {
                    align-self: center;
                    margin-bottom: 1px;
                    box-shadow: 0 1px 1px 0px white;
                    font-size: calc(12px + 0.3vw);
                }
                ul {
                    font-size: calc(10px + 0.2vw);
                    li {
                        &:first-of-type {
                            line-height: 30px;
                        }
                        margin-left: 50px;
                        line-height: 26px;
                    }
                }
            }
        }
    }
    .info-about-me {
        margin: 60px 2%;
        padding: 20px 4% 40px 4%;
        background-color: rgb(31, 31, 31);
        box-shadow: 0 0 16px 0 rgb(107, 107, 107);
        color: rgb(233, 233, 233);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: calc(8px + 0.4vw);
        line-height: calc(18px + 0.6vw);
        strong {
            font-size: calc(30px + 0.4vw);
        }
        &::after {
            content: "";
            background-image: url("./pics/about-me.jpg");
            filter: grayscale(0.5);
            background-position-x: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.3;
        }
        div>span:first-of-type {
            display: block;
            margin-bottom: calc(3px + 0.4vw);
            font-size: calc(10px + 0.4vw);
        }
        hr {
            margin: 20px auto;
        }
    }
    .contact-form {
        width: 80%;
        margin: 60px 2%;
        padding: 20px 4% 40px 4%;
        background-color: rgb(20, 20, 20);
        box-shadow: 0 0 16px 0 rgb(107, 107, 107);
        color: rgb(216, 216, 216);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: calc(8px + 0.4vw);
        line-height: calc(18px + 0.4vw);
        form{
            margin-left: 2%;
            width: 100%;
            display: flex;
            flex-direction: column;
            h3 {
                font-size: 12px;
                text-align: center;
                a {
                    color: rgb(233, 70, 76);
                    text-decoration: none;
                    span {
                        display: inline-block;
                    }
                }
            }
            div {
                margin: 20px 0;
                label {
                    span {
                        display: block;
                        margin-bottom: 2px;
                    }
                    span:last-of-type {
                        position: absolute;
                        color: red;
                        font-size: 12px;
                    }
                    i {
                        color: rgb(233, 70, 76);
                    }
                    input {
                        background-color: black;
                        box-shadow: 0 0 4px 0 lightgray;
                        color: lightgray;
                        border-radius: 4px;
                        width: 50%;
                        height: 30px;
                        padding: 3px 10px;
                        outline: none;
                        @media screen and (max-width: 700px) {
                            width: 90%;
                        }
                    }
                    textarea {
                        background-color: black;
                        box-shadow: 0 0 4px 0 lightgray;
                        color: lightgray;
                        border-radius: 4px;
                        width: 70%;
                        height: 120px;
                        padding: 10px;
                        outline: none;
                        @media screen and (max-width: 700px) {
                            width: 95%;
                        }
                    }
                }
            }
            &>span {
                margin-top: 20px;
                align-self: flex-start;
                color: lightgreen;
                @media screen and (max-width: 1100px) {
                    position: relative;
                    align-self: center;
                    top: 80px;
                    width: 70%;
                }
                @media screen and (max-width: 510px) {
                    width: 80%;
                }
            }
            button {
                padding-top: 12px;
                color: rgb(233, 70, 76);
                box-shadow: 0 0 4px 0 lightgray;
                width: 240px;
                align-self: flex-end;
                margin-top: -30px;
                margin-bottom: 30px;
                margin-right: 30%;
                transition: background-color 0.4s ease-in-out;
                background-color: rgba(0,0,0,0);
                @media screen and (max-width: 1100px) {
                    align-self: center;
                    margin-top: 90px;
                }
                &:hover {
                    animation: hovered 1 0.4s ease-out;
                    background-color: rgba(255,255,255,1);
                }
                @media screen and (max-width: 700px) {
                    margin-right: 5%;
                }
                @keyframes hovered {
                    from {background-color: rgba(0,0,0,0)};
                    to {background-color: rgba(255,255,255,1)}
                }
            }
        }
    }
}
#g-recaptcha {
    margin: -60px 0 0 0;
    width: max-content;
    @media screen and (max-width: 1100px) {
        align-self: center;
        margin-left: -30%;
        position: relative;
        bottom: 150px;
    }
    @media screen and (max-width: 700px) {
        width: 68%;
    }
}